{% extends "layoutAdmin.njk" %}
{% block content %}
    <main class="card_recepes">
        <h2>Gerenciar receitas</h2>
        <section>
            <div class="grid_recipes">
                <section class="grid_details_recipes">
                    <div class="rececipe_image">
                        <img src="/assets/espaguete.png" alt="">
                    </div>
                    <div class="recipe_details">
                        <h3>Triplo bacon burger</h3>
                        <span>por Jorge Relato</span>
                        <a href="">Visualizar</a>
                    </div>
                </section>
            </div>
        </section>
    </main>
{% endblock content %}