<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Foodfy - Sobre</title>
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <header>
            <a href="index.html"><img src="assets/logo.png" alt="Foodfy"/> </a>
            <nav>
                <ul>
                    <li><a href="sobre.html" title="Sobre">Sobre</a></li>
                    <li><a href="receitas.html" title="Receitas">Receitas</a></li>
                </ul>
            </nav>
        </header>
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
        <script src="scripts.js"></script>
    </body>
</html>