{% extends "layout.njk" %}
{% block content %}
<section class="contentReceita conteiner">
    <img class="homeReceita" src="{{ recipe.image }}" alt="">
    <div class="informations">
        <h2>{{ recipe.title }}</h2>
        <span>{{ recipe.author }}</span>
    </div>
</section>
<section class="conteiner bodyReceita">
    <div id="titleMore">
        <h2>Ingredientes</h2>
        <a class="btn-collapse">ESCONDER</a>
    </div>
    <div class="info_Ingredientes details">
        <ul>
            {% for items in recipe.ingredients %}
            <li>
                {{ items }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="titleMore">
        <h2>Modo de preparo</h2>
        <a class="btn-collapse">MOSTRAR</a>
        <div class="details">
        <p></p>
    </div>
    </div>

    <div id="titleMore">
        <h2>Informações adicionais</h2>
        <a class="btn-collapse">ESCONDER</a>
    </div>
    <div class="details hide-details">
        <p>{{ recipe.information }}</p>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script src="/scripts.js"></script>
{% endblock %}