@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

:root {
  --black: #111111;
  --gray: #777777;
  --btn-submit: #6558C3;
  --btn-delete: #DC4747 ;
  --write: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.conteiner {
  max-width: 940px;
  margin: 0 auto;

}
.conteiner a {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 38px auto 30px auto;
  max-width: 940px;
}

header div {
  display: flex;
  margin-left: 107px;
}

header div a {
  font-size: 1rem;
  color: var(--black);
  text-decoration: none;
  padding: 15px;

}

/* HOME */

.banner {
  background-color: #FBDFDB;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 67px;

}

.banner div {
  max-width: 320px;
  padding-bottom: 51px;
}

.banner div h1 {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  color: var(--black);
}

.banner div .description {
  font-size: 18px;
  line-height: 28px;
  margin-top: 10px;
  color: var(--black);
  opacity: 0.6;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cards h4 {
  flex: 1 1 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: var(--black);
  margin-top: 50px;
}

.cards .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cards .card img#receitasImg {
  max-width: 300px;
  height: 140px;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
  object-fit: cover;
}

.cards .card p {
  font-size: 18px;
  line-height: 21px;
  color: var(--black);
  margin-top: 20px;
}

.cards .card span {
  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
  margin-top: 5px;
}

/* About factory*/

.aboutInstituional h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: var(--black);
  margin-top: 10px;
}

.aboutInstituional p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-top: 20px;
  opacity: 0.7;
}

.aboutInstituional h3 {
  font-size: 20px;
  line-height: 24px;
  color: var(--black);
  margin-top: 30px;
}

/*erro 404*/

#erro404 {
  content: "";
  background-image: url('https://bit.ly/3ywOwcB');
  width: 90vw;
  margin: auto;
  /* largura */
  height: 70vh;
  /* altura */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/*Page Receita*/

.homeReceita {
  max-width: 940px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.informations {
  text-align: center;
  margin-top: 36px;
}

.informations h2 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: bold;
  color: var(--black);
  /* letter-spacing: 0.42px; */
  line-height: 28px;
}

.informations span {
  font-weight: normal;
  font-size: 20px;
  color: var(--gray);
  text-align: center;
}

.more_info {
  color: #444444;
  font-size: 18px;
  /* word-spacing: 10px; */
  line-height: 28px;
}


.details {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 39px;
}


.btn-collapse {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-collapse:hover {
  color: #999999;
  filter: brightness(0.7);
}

a.btn-collapse {
  border: none;
  background-color: transparent;  
  margin-left: 8px;
}

.hide-details {
  display: none;
  animation: up;
  animation-timing-function: ease-out;
  animation-duration: 700ms;
} 

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
    
  }

  to {
    opacity: 1;
  }
}

.info_Ingredientes ul li {
  align-items: center;
  list-style: initial;
  margin-left: 1em;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

/* li::before {
    content: "•"; 
    color: red;
    display: inline-block; 
    width: 1em;
    margin-left: 0em;
    size: 1em;
  } */

#titleMore {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

#titleMore a {
  margin-left: 10px;
  color: #999999;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 40px;
}

#titleMore h2 {
  color: var(--black);
  font-size: 24px;
  font-weight: bold;
}

/* footer */

footer {
  background-color: #eeeeee;
  margin-top: 50px;
  /* z-index: -9999999;
    display: flex; */
}

footer p {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-align: center;
  padding: 23px 0;
}

/* Home admin*/

 #links_header {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  height: 80px;
  background-color: var(--black);
  display: flex;
  flex-wrap: initial;
  align-items: center;
  padding: 0px 285px;
  font-size: 16px;
  margin: 0;
}

#links_header div {
  margin-left: 0;
}

#links_header div a {
  padding: 0;
}

.card_recepes {
  max-width: 950px;
  margin: 0 auto;
}

.card_recepes h2 {
  font-size: 24px;
  color: var(--black);
  margin-top: 30px;
}

.grid_recipes {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.grid_details_recipes {
  display: flex;
}

.grid_recipes {
  margin-top: 25px;
}

.rececipe_image img {
  border-radius: 8.57px;
  width: 172px;
  height: 80px;
  margin-right: 20px;
}

.recipe_details h3 {
  font-size: 18px;
  font-weight: 500;
}

.recipe_details span {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray); 
}

.recipe_details a {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  color: var(--btn-submit);
  font-weight: bold;
  text-decoration: none;
}

.info_header_edit {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 28px;
}

.info_header_edit h3 {
  font-size: 24px;
  color: var(--black);
}

.info_header_edit button {
  font-size: 16px;
  color: var(--write);
  font-weight: bold;
  border-radius: 4px;
  background: var(--btn-submit);
  padding: 10px 15px;
}

.image_details {
  width: 940px;
  height: 280px;
  border-radius: 15px;
  object-fit: cover;
}

.home_edit {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 30px;
}

.home_edit h3 {
  font-size: 24px;
  color: var(--black);
}

.btn_home_edit button {
  color: var(--write);
  font-weight: bold;
  font-size: 16px;
}

.btn_home_edit button + button {
  margin-left: 10px;
}

.delete {
  background: var(--btn-delete);
  padding: 13px;
  border-radius: 4px;
}

.submit {
  background: var(--btn-submit);
  padding: 13px 20px;
  border-radius: 4px;
}

.ingredients h3 {
  margin-top: 25px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  outline: none;
  color: var(--black);
  font-weight: 400;
  font-size: 16px;

}

input[type="text"] {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 16px;
  outline: none;
  margin-bottom: 10px;
  color: var(--gray);
  font-weight: bold;

}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  resize: none;
  outline: none;
  padding: 16px;
  color: var(--gray);
  font-weight: bold;
  font-size: 16px;
}

.btn_add_items {
  margin-top: 20px;
  margin-bottom: 10px;
  background: none;
  color: var(--btn-submit);
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}