{% extends 'layout.njk' %}
{% block header %}
    <header id="links_header">
        <div>
            <a href="/">
                <img src="/assets/logoWrite.png" alt="">
            </a>
        </div>
        {# <a href="/admin/recipes">RECEITAS</a>
        <a href="/admin/chefs">CHEFS</a> #}
    </header>
{% endblock %}