{% extends "layout.njk" %}
{% block content %}
<section class="contentReceita conteiner">
    <img class="homeReceita" src="{{ receita.image }}" alt="">
    <div class="informations">
        <h2>{{ receita.title }}</h2>
        <span>{{ receita.author }}</span>
    </div>
</section>
<section class="conteiner bodyReceita">
    <div id="titleMore">
        <h2>Ingredientes</h2>
        <a class="btn-collapse">ESCONDER</a>
    </div>
    <div class="info_Ingredientes details">
        <ul>
            {% for items in receita.ingredients %}
            <li>
                {{ items }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="titleMore">
        <h2>Modo de preparo</h2>
        <a class="btn-collapse">MOSTRAR</a>
        <div class="details">
        <p></p>
    </div>
    </div>

    <div id="titleMore">
        <h2>Informações adicionais</h2>
        <a class="btn-collapse">ESCONDER</a>
    </div>
    <div class="details hide-details">
        <p>{{ receita.information }}</p>
    </div>
</section>
{% endblock %}
{# 
    {% block content %}
    
      <section class="conteiner">
      
        <div class="banner__image-container">
          <img src="{{receita.image}}" alt="{{receita.title}}">
        </div>
        
        <div class="receita-info">
          <h1>{{receita.title}}</h1>
          <p>Por {{receita.author}}</p>
        </div>
    
        <div class="ingredients">
          <div class="section-title">
            <h3>Ingredientes</h3>
            <a class="btn-collapse">esconder</a>
          </div>
          <div class="details">
            <ul>
              {% for ingredients in receita.ingredients %}
                <li>
                  {{ingredients}}
                </li>
              {% endfor%}
            </ul>
          </div>
          
        </div>
    
        <div class="preparation">
          <div class="section-title">
            <h3>Modo de preparo</h3>
            <a class="btn-collapse">esconder</a>
          </div>
          <div class="details">
            <ul>
              {% for ingredients in receita.preparation %}
                <li>
                  {{ingredients}}
                </li>
              {% endfor%}
            </ul>
          </div>
          
          
        </div>
    
        <div class="information">
          <div class="section-title">
            <h3>Informações Adicionais</h3>
            <a class="btn-collapse">Mostrar</a>
          </div>
          <div class="details hide-details">
            <p>{{receita.information}}</p>
          </div>
          
        </div>
      
      </section>
    
    {% endblock %} #}
{% block scripts %}
<script src="/scripts.js"></script>
{% endblock %}